
*{box-sizing:border-box;}

/*tao menu nav*/
#menu{border:1px solid;}

#menu ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu a{
  text-decoration: none;
  font-size: 120%;
}

  #menu li{
    display: inline;
  }

  #leftNav{
    float: left;
  }

  #rightNav{
    float: right;
    text-align: right;
  }
  /*.row::after{
    conten: "";
    clear: both;
    display: table;
  }*/

  #banner{
    position: relative;
    width: 100%;
    height: auto;
  }

  #bannerContent{
    font-size: 120%;
    position: absolute;
    color: red;
    top: 20%;
    left: 20%;
  }


  [class*="col-"] {
    float: left;
    padding: 15px;
    border: 2px solid green;

  }

  @media only screen and (min-width: 768px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
#bannerImage{display: none;}
  #bannerContent{position: unset;}
  }

  @media only screen and (min-width: 992px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }


/*display for mobiles < 768px*/
@media only screen and (max-width: 767px) {

  [class*="col-"]{width: 100%;}

  #bannerImage{display: none;}
  #bannerContent{position: unset;}

  #leftNav{
    width: 40%;

  }
  #rightNav{
    width: 60%;}

    #menu li{
      width: 8.33%;
    }

      #menu ul{   
        boder: 10px solid red;
      }
    }



